<div class="wrapper">
    <div class="text-center mt-4 mb-2 name">
        Application
    </div>
    <form [formGroup]="UserCredentials" (ngSubmit)="loginUser()" class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="email" id="email" placeholder="Email" formControlName="email" required>
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="secret" id="pwd" placeholder="Password" formControlName="secret" [type]="hide ? 'password' : 'text'" required>
            <button type="button" class="toggle-password" (click)="hide = !hide" aria-label="Hide password" [attr.aria-pressed]="hide">
              <i class="{{ hide ? 'fas fa-eye-slash' : 'fas fa-eye' }}"></i>
            </button>
        </div>
        <button class="btn mt-5" type="submit">Login</button>
    </form>
  </div>
  
